.fa-file-alt,
.fa-file-code,
.fa-file-image,
.fa-file-video,
.fa-file-audio {
  color: rgb(143, 143, 143);
}

.fa-file-word {
  color: #4285f4;
}

.fa-file-excel {
  color: #34a853;
}

.fa-file-powerpoint {
  color: #f65314;
}

.fa-file-pdf {
  color: #ff0000;
}

.fa-folder {
  color: rgb(138, 209, 247);
}

.fa-folder-open {
  color: rgb(138, 209, 247);
}

.fa-file-archive {
  color: rgb(245, 179, 97);
}
