.file-browser-container-sidebar {
	display: grid;
	position: absolute;
	height: 100%;
	width: 100%;
	grid-template-columns: 25% 75%;
	overscroll-behavior: auto;
}

.file-browser-container-no-sidebar {
	position: absolute;
	height: 100%;
	width: 100%;
	overscroll-behavior: auto;
}

.main {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	border-left: 1px solid #f2f2f2;
}

.sidebar {
	display: grid;
	overflow: hidden;
}

file-browser-tree {
	padding: 5px;
	overflow: auto;
}

file-browser-list {
	display: flex;
	flex-direction: column;
	flex: 1 1 0%;
}
