.file-browser-container-mobile {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgb(255, 255, 255);
	overscroll-behavior: auto;
}

.main-mobile {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	border-left: 1px solid #f2f2f2;
}

file-browser-list-mobile {
	display: flex;
	flex-direction: column;
	flex: 1 1 0%;
}
