.file-browser-container {
    display: grid;
    position: absolute;
    height: 100%;
    width: 100%;
    grid-template-columns: 45% 55%;
}

.main {
    display: grid;
    padding: 0px 0px 15px 15px;
    grid-template-rows: 40px 40px auto;
    border-left: 1px solid #f2f2f2;
    overflow-y: hidden;
}

file-browser-list {
    overflow-y: scroll;
}

.sidebar {
    display: grid;
    height: 100%;
}