.file-browser-header {
    height: 40px;
    align-items: center;
    padding-right: 15px;
}

.grid-header {
    border-bottom: 1px solid #f2f2f2;
    height: 40px;
    align-items: center;
}

.grid-column {
    font-size: 15px;
}

.sort-icon {
    cursor: pointer;
}