.file-browser-header {
    height: 40px;
    border-bottom: 1px solid #f2f2f2;
}

.file-browser-header-row {
    border-bottom: 1px solid #f2f2f2;
    height: 40px;
    align-items: center;
    padding: 5px 15px 5px 10px;
}

.grid-column {
    font-size: 15px;
}

.sort-icon {
    cursor: pointer;
}

.tree-icon {
    text-align: right !important;
    cursor: pointer;
}
