.file-browser-list {
    display: block;
    height: 100%;
}

.table-grid-mobile {
    padding-right: 0px;
}

.grid-item-mobile {
    border-bottom: 1px solid #f2f2f2;
    height: 40px;
    align-items: center;
}