<div class="file-browser-list-mobile">
    <ion-list>
        <ion-grid class="table-grid-mobile">
            <ng-container *ngIf="nodes$">
                <ng-container *ngFor="let node of nodes$ | async">
                    <ion-row class="grid-item-mobile" (click)="showNode(node)">
                        <ion-col col-1 col-xs>
                            <file-browser-icon [type]="node.type"></file-browser-icon>
                        </ion-col>
                        <ion-col align-self-center>
                            {{ node.name }}
                        </ion-col>
                        <ion-col col-1 col-xs (click)="showActionSheet(node)">
                            <ion-icon class="list-more-icon" name="md-more"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ng-container>
            </ng-container>
        </ion-grid>
    </ion-list>
</div>