.file-browser-list {
    display: block;
    height: 100%;
}

.grid-item {
    cursor: pointer;
    border-bottom: 1px solid #f2f2f2;
    height: 40px;
    align-items: center;
}

.grid-item:hover {
    border-radius: 5px;
    background: rgb(217, 217, 217);
}