<div class="file-browser-list-wrapper" (click)="unselectNodes()">
    <ion-list class="file-browser-list">
        <ng-container *ngIf="nodes$">
            <ng-container *ngFor="let node of nodes$ | async">
                <div class="list-item">
                    <ion-row class="list-row">
                        <div *ngIf="!node.selected" class="list-label" (click)="selectNode(node, $event)" (dblclick)="showNode(node)" oncontextmenu="return false"
                            (contextmenu)="showActionSheet(node)">
                            <file-browser-icon [type]="node.type"></file-browser-icon>
                            {{ node.name }}
                        </div>

                        <div *ngIf="node.selected" class="list-label active" (click)="selectNode(node, $event)" (dblclick)="showNode(node)" oncontextmenu="return false"
                            (contextmenu)="showActionSheet(node)">
                            <file-browser-icon [type]="node.type"></file-browser-icon>
                            {{ node.name }}
                        </div>

                        <ion-icon class="list-option" name="md-more" (click)="showActionSheet(node)" oncontextmenu="return false" (contextmenu)="showActionSheet(node)"></ion-icon>
                    </ion-row>
                </div>
            </ng-container>
        </ng-container>
    </ion-list>
</div>