.file-browser-tree {
	height: 100%;
}

.tree-item {
	cursor: pointer;
	font-size: 15px;
	align-items: center;
	justify-content: left;
	transition: 0.25s;
	flex-wrap: nowrap;
}

.tree-item:hover {
	border-radius: 5px;
	background: rgb(233, 240, 253);
}

@for $i from 1 through 30 {
	.item-level-#{$i} {
		padding-left: ($i * 20px) !important;
	}
}

file-browser-icon {
	display: block;
	text-align: center;
	padding: 5px;
	font-size: 18px;
	min-width: 35px;
	max-width: 35px;
	min-height: 30px;
	max-height: 30px;
}
