.file-browser-tree {
    height: 100%;
}

.tree-item {
    cursor: pointer;
    font-size: 15px;
    align-items: center;
    transition: 0.25s;
}

.tree-item:hover {
    border-radius: 5px;
    background: rgb(233, 240, 253);
}

@for $i from 1 through 30 {
    .item-level-#{$i} {
        padding-left: ($i * 20px) !important;
    }
}

file-browser-icon {
    text-align: center;
    padding: 5px;
    font-size: 18px;        
    width: 35px;
    height: 30px;
}

