.tree-item {
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    align-items: center;
}

.tree-item:hover {
    border-radius: 5px;
    background: rgb(217, 217, 217);
}

@for $i from 1 through 30 {
    .item-level-#{$i} {
        padding-left: ($i * 20px) !important;
    }
}
