.file-browser-history {
    height: 40px;
    align-items: center;
    padding-right: 15px;
    font-size: 20px;
}

.icon {
    font-size: 15px;
}

.grid-header {
    border-bottom: 1px solid #f2f2f2;
    height: 40px;
    align-items: center;
}

.history-item {
    cursor: pointer;
}